/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* inter font */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* poppins font */
.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* manrope font */
.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* animation styles */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translate(-100px);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

@keyframes blur-in {
    from {
        opacity: 0;
        filter: blur(5px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes marquee {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(100%);
    }
}

/* shared styles */
.display-flex {
    display: flex;
}

.text-primary {
    color: rgba(58, 58, 58, 1);
}

.text-secondary {
    color: black;
}

.text-tertiary {
    color: white;
}

.bg-primary {
    background-color: #E02C6D;
}

/* scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E02C6D;
}

::-webkit-scrollbar-button {
    display: block;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='50,20 90,80 10,80'/></svg>");
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='50,80 90,20 10,20'/></svg>");
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='80,10 80,90 20,50'/></svg>");
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='20,10 20,90 80,50'/></svg>");
}

::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

/* body styles */
body {
    cursor: url('../assets/icons/cursor.png') 0 0, auto;
}

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}

.nav-menu {
    display: none;
}

.nav-brand-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar>.nav-list .nav-item {
    list-style: none;
    margin-left: 34px;
}

.nav-cart {
    display: none;
}

.navbar>.nav-list>.nav-item>.nav-link {
    text-decoration: none;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:active {
    color: #E02C6D;
}

.nav-link>img:hover,
.nav-link>img:active {
    transform: scale(1.2);
}

/* banner styles */
.hero {
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 50px auto 69px;
    gap: 100px;
}

.hero-content {
    max-width: 570px;
    animation: slide-in 1s linear normal forwards;
}

.hero-title {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero-description {
    font-weight: 600;
    margin-bottom: 16px;
}

.hero-btn {
    border: none;
    border-radius: 41px;
    width: 196px;
    height: 44px;
}

.hero-btn:hover,
.hero-btn:active {
    background-color: palevioletred;
    border: 2px solid #E02C6D;
    cursor: pointer;
}

.hero-btn .hero-btn-link {
    text-decoration: none;
    font-weight: 700;
}

.hero-btn-arrow {
    transform: rotate(270deg);
}

.hero-image {
    background-image: url('../assets/images/circle-design.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-image img {
    width: 100%;
    animation: blur-in 1s linear normal forwards;
}

/* sponsor section styles */
.sponsor-section {
    max-width: 986px;
    margin: 0 auto 100px;
    overflow: hidden;
}

.sponsor-container {
    justify-content: space-between;
    align-items: center;
    animation: marquee 20s linear 1s infinite normal;
}

.sponsor-container:hover {
    animation-play-state: paused;
}

.sponsor-container-img:hover {
    filter: grayscale(100%);
}


/* responsive media query for small size devices */
@media screen and (max-width: 576px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        max-width: 1250px;
        margin: 0 16px;
    }

    .nav-menu,
    .nav-cart {
        display: block;
    }

    .nav-brand-name {
        font-size: 1rem;
    }

    .nav-list {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        margin: 22px 16px 50px;
        gap: 14px;
    }

    .hero-content {
        text-align: center;
    }

    .hero-title {
        font-size: 1.75rem;
    }

    .hero-description {
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .sponsor-section {
        margin: 0 auto 55px;
    }

    .sponsor-container {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}

/* responsive media query for medium size devices */
@media screen and (min-width:577px) and (max-width:992px) {
    .navbar {
        margin: 0 16px;
    }

    .navbar>.nav-list .nav-item {
        margin-left: 12px;
    }

    .hero {
        margin: 22px 16px 50px;
        gap: 40px;
    }

    .hero-title {
        font-size: 1.75rem;
    }

    .hero-description {
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .sponsor-section {
        margin: 0 16px 55px;
    }

    .sponsor-container {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}